body{
  margin: 50px;
  background-image: url("../Assets/background_image_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 100vh;
}

footer {
  background-color: aliceblue;
  color: #12263A;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 22%;
  margin-right: 22%;
  border: #D6BBC0 solid 3px;
  margin-top: 40px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}