#my_holiday_list {
    background-color: white;
    border-radius: 20px;
    border: solid #12263A;
    text-align: center;
    width: 30vw;
}

#my_holiday_list button {
    border-radius: 7px;
    padding: 3px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    margin: 15px;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-color: #EAF6FF;
}

#main_content {
    display: flex;
    justify-content: space-between;
}

nav button {
    border-radius: 7px;
    padding: 3px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    margin: 15px;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-color: #EAF6FF;
}

#banner h2 {
    font-size: 50pt;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}

#banner h3 {
    text-align: right;
    font-size: 28pt;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#banner {
    margin-top: -130pt;
}

.modal_close_button {
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    text-decoration: none;
    margin-top: 15px;
    margin: auto;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fafda9b6;
    height: 30px;
    font-size: large;
}