#login__container {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    margin: auto;
}

#login_form {
    display: flex;
    flex-direction: column;
}

#login_form>input {
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

main {
    background-color: aqua;
}