h1 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30pt;
}

article {
    border: solid #D6BBC0 3px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

article p {
    font-size: medium;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#approval_button {
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    text-decoration: none;
    margin-top: 15px;
    margin: auto;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #CBEFB6;
}

#reject_button {
    border-radius: 7px;
    padding: 3px;
    width: 100px;
    text-decoration: none;
    margin-top: 15px;
    margin: auto;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FF6347;
}

#button_container {
    display: flex;
    justify-content: space-between;
}